body{
    margin:0;
    padding: 0;
    font-family:Arial,sans-serif
    /* background-color */
}

h1{
    font-size: 36px;
    color: rgb(82, 242, 242);
    margin-top: 0;
}

p{
    font-size: 18px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
}

.container{
    width: 80%;
    padding: 20px;
    background-color: rgba(0, 103, 94, 0.463);
    margin: 0 auto;
}

@media (max-width: 768px){
    .container{
        width: 90%;
        padding: 10px;
    }

    h1{
        font-size: 24px;
    }

    p{
        font-size: 12px;
    }
}