<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <h1>Cadastro no novo Usuário</h1>

        <form>

            <label for="newUsername">Nome de Usuário:</label>
            <input type="text" v-model="newUsername" required>

            <label for="newpassword">Senha</label>
            <input type="password" v-model="newpassword" required>

            <label for="confirmPassword">Confirma Senha</label>
            <input type="password" v-model="confirmPassword" required>

            <button type="submit" @click.prevent="adicionarUsuario">Cadastrar</button>
            
        </form><!--Fechamento form-->
        
        <!-- <p>Usuario: {{username}}</p> -->
        <!-- <p>Senha: {{password}}</p> -->

        <!-- <p>Novo Usuario: {{newUsername}}</p> -->

        <p class="error" :class="{entrada:mostrarEntrada}">{{error}}</p> 
        <p class="sucesso" :class="{entrada:mostrarEntrada}">{{sucesso}}</p>

        <div>
            <button @click="verCadastrados">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>

            <!--Processo para listar os usuários e senhas cadastradas nos arrays "usuário" e "senhas"-->

            <ol v-if="mostrarLista">
                <li v-for="(usuario, index) in usuarios">
                    Usuário: {{usuario}}, {{senhas[index]}}
                    <button @click="excluirUsuário(usuario)">Excluir</button>

                </li> <!--Fechamento li-->
            </ol> <!--Fechamento ol-->
        </div>

    </div><!--Fechamento div-->

    <script src="process.js"></script>

</body>
</html>