.error{
    color: red;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:blue;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.entrada{
    opacity: 1;
}

body{
    font-family: Aral, sans-serif;
    background-color: aquamarine;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(169, 255, 226);
    padding: 20px;
    box-shadow: 10px 10px 10px rgb(103, 101, 101);
    border-radius: 10px;
    text-align: center;

}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
}

label{
    margin-bottom: 10px;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    border-color: aqua;
    border: none;
    border-style: solid;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: rgb(205, 232, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(131, 0, 254);
}