/* Define as propriedades de estilo para a classe .app */
.app {
  width: 100%; /*Define a largura como 100% */
  height: 100%; /*Define a altura como 100% */
  display: flex; /*Define a exibição como um contêiner flexível */
  justify-content: center; /*Define o alinhamento horizontal no centro */
  align-items: center; /*Define o alinhamento vertical no centro */
}

/* Define as propriedades de estilo para a classe .content */
.content {
  width: 80%; /*Define a largura como 80% */
  height: 80%; /*Define a altura como 80% */
  border: 2px solid black; /*Define uma borda preta com espessura de 2px */
  display: flex; /*Define a exibição como um contêiner flexível */
  justify-content: center; /*Define o alinhamento horizontal no centro */
  align-items: center; /*Define o alinhamento vertical no centro */
  flex-direction: column; /*Define a direção da flexão como coluna */
}

/* Define as propriedades de estilo para o botão */
button {
  margin-top: 20px; /*Define a margem superior como 20px */
  padding: 10px; /*Define o preenchimento como 10px */
  font-size: 16px; /*Define o tamanho da fonte como 16px */
  border: none; /*Remove a borda */
  border-radius: 5px; /*Define o raio da borda como 5px */
  background-color: #4286f4; /*Define a cor de fundo como azul */
  color: white; /*Define a cor do texto como branco */
  cursor: pointer; /*Define o cursor do mouse como um ponteiro */
}

/* Define as propriedades de estilo para o botão quando o mouse está em cima */
button:hover {
  background-color: #3366cc; /*Define a cor de fundo como uma tonalidade mais escura de azul */
}

/* Define as propriedades de estilo para o link */
a {
  margin-top: 20px; /*Define a margem superior como 20px */
  padding: 10px; /*Define o preenchimento como 10px */
  font-size: 16px; /*Define o tamanho da fonte como 16px */
  border: none; /*Remove a borda */
  border-radius: 5px; /*Define o raio da borda como 5px */
  background-color: #4286f4; /*Define a cor de fundo como azul */
  color: white; /*Define a cor do texto como branco */
  text-decoration: none; /*Remove a decoração do texto */
}

/* Define as propriedades de estilo para o link quando o mouse está em cima */
a:hover {
  background-color: #3366cc; /* Define a cor de fundo como uma tonalidade mais escura de azul */
}
