body{
    background-color: rgb(25, 182, 187); 
    font-family: Arial; sans-serif;
}

h1{
    text-align: center;
    margin-top: 2%;
    color: rgb(59, 65, 172);
}
ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 5%;
}

a{
    display: block;
    text-align: center;
    background-color: rgb(51, 51, 220);
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

a:hover{
    background-color: rgb(41, 95, 231);
    color: rgb(0, 0, 0);
}

.instagram{
    background-image: linear-gradient(to bottom,  rgba(70, 100, 202, 1),
      rgba(241, 77, 90, 1), rgba(255, 202, 81, 1), rgba(194, 60, 147, 1));
}

.twitter{
    background-color: rgba(0, 174, 239, 1);
}

