<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Calçados</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <h1>Loja de Calçados</h1>
        <ul>
            <li v-for="product in products">
                <a :href="'#/product/' + product.id">
                    <img :src="product.image" :alt="product.name"><br>
                    <span>{{product.name}}</span>
                </a><!--Fechamento a-->
            </li><!--Fechamento Lista-->
        </ul><!--Fechamento lista-->

        <!--Processo de exibição do detalhes dos produtos-->
        <div>
            <h2>{{currentProduct.name}}</h2>
            <p>{{currentProduct.description}}</p>
            <p>Preço: R${{currentProduct.price}}</p>
            <button @click="addToCart(currentProduct)">Adicionar ao carrinho</button>
        </div><!--Fechamento da Div-->
        
        <div>
            <h3>carrinho de compras</h3>
            <ul v-if="cart.length > 0">
                <li v-for="item in cart">
                    {{item.name}} - R$ {{item.price}}
                </li><!--Fechamento lista-->
            </ul><!--Fechamento lista-->
        </div><!--Fechamento da divCart-->
    </div><!--Fechamento div-->
    <script src="process.js"></script>
    
</body>
</html>