img{
    width: 150px;
    height: auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    background-color: rgb(209, 247, 249);
    transition:tranform 0.2s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.03);
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(176, 206, 244);
    padding: 20px;

}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li{
    margin-right: 20px;
    margin-bottom: 20px;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    background-color: rgb(249, 235, 246);
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(200, 255, 237);

}

button:houver{
    background-color: aliceblue;
}